{% extends "interface.html" %}

{% block mail-content %}
    <form action="{% url process %}" method="POST">
        <div class="row">
            {% csrf_token %}
            <div class="btn-group">
                <input name="new" class="btn btn-default" value="New" type="submit"/>
                <input name="delete" class="btn btn-default" value="Delete" type="submit"/>
            </div>
        </div>
        <ul class="list-group">
            {% for msg in message_list %}
                    <li class="list-group-item row">
                        <span class="col-sm-1">
                            <input type='checkbox' name='check{{ msg.pk }}'/>
                        </span>
                        <a href="{% if Drafts %}
                            {% url edit msg.pk %}
                            {% else %}
                            {% url read msg.pk %}
                            {% endif %}"
                            class="col-sm-3">
                            {% if Drafts or Sent %}
                                {% if msg.recipients %}
                                    {{ msg.recipients }}
                                {% else %}
                                    &ltno address&gt
                                {% endif %}
                            {% else %}
                            {{ msg.sender }}
                            {% endif %}
                        </a>
                        <a href="{% if Drafts %}
                            {% url edit msg.pk %}
                            {% else %}
                            {% url read msg.pk %}
                            {% endif %}"
                            class="col-sm-5">
                                {% if msg.subject %}
                                    {{ msg.subject }}
                                {% else %}
                                    &ltno subject&gt
                                {% endif %}
                        </a>
                        <span class="col-sm-3">
                            {{ msg.date }}
                        </span>
                    </li>
            {% endfor %}
        </ul>
    </form>
{% endblock mail-content %}