{% extends "interface.html" %}

{% block mail-content %}
    {% for msg in message_list %}
        <div class="form-row">
            <div class="col-sm-1">
                <input type='checkbox' id='{{ msg.pk }}'/>
            </div>
            <div class="col-sm-2">
                <a href={% url read msg.pk %}>{{ msg.sender }}</a>
            </div>
            <div class="col-sm-6">
                <a href={% url read msg.pk %}>{{ msg.subject }}</a>
            </div>
            <div class="col-sm-3">
                {{ msg.date }}
            </div>
        </div>
    {% endfor %}
{% endblock mail-content %}