{% extends "interface.html" %}

{% block mail-content %}
    <form action="{% url process %}" method="POST">
        <div class="row">
            {% csrf_token %}
            <div class="btn-group">
                <input name="new" class="btn btn-default" value="New" type="submit"/>
                <input name="delete" class="btn btn-default" value="Delete" type="submit"/>
            </div>
        </div>
        <div class="list-group">
            {% for msg in message_list %}
                    <a href="{% if Drafts %}
                        {% url edit msg.pk %}
                        {% else %}
                        {% url read msg.pk %}
                        {% endif %}"
                       class="list-group-item row">
                        <span class="col-sm-1">
                            <input type='checkbox' name='check{{ msg.pk }}'/>
                        </span>
                        <span class="col-sm-2">
                            {{ msg.sender }}
                        </span>
                        <span class="col-sm-6">
                            {{ msg.subject }}
                        </span>
                        <span class="col-sm-3">
                            {{ msg.date }}
                        </span>
                    </a>
            {% endfor %}
        </div>
    </form>
{% endblock mail-content %}