{% extends "interface.html" %}

{% block mail-content %}
    <div class="row">

        <form action="{% url processSingle msg_pk %}" method="POST">
            <div class="btn-group">
                {% csrf_token %}
                <input name="new" class="btn btn-default" value="New" type="submit"/>
                {% if can_resend %}<input name="resend" class="btn btn-default" value="Resend" type="submit"/>
                {% else %}<input name="reply" class="btn btn-default" value="Reply" type="submit"/>
                {% endif %}
                <input name="delete" class="btn btn-default" value="Delete" type="submit"/>
            </div>
        </form>

    </div>
    <div class="row">
      <h3>{{ subject }}</h3>
    </div>
    <div class="row">
      From: {{ sender }}
    </div>
    <div class="row">
      To: {{ recipients }}
    </div>
    <div class="row">
    <iframe src='{{ fetch }}' class="col-lg-12" height="300px"></iframe>
    </div>
    {% for attachment in attachments %}
    <div class="form-row">
        <a href="{{ attachment.url }}">{{ attachment.name }}</a> - {{ attachment.size }}
    </div>
    {% endfor %}
{% endblock mail-content %}